# Environment variables & secrets
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Node / Frontend
node_modules/
dist/
.vite/

# Logs & temp
*.log
.DS_Store
